__pycache__
.vs
*.pyproj
*.sln
Info.txt
tmp
venv/*
test_venv/
.coverage
htmlcov
tests/test_data/*
!tests/test_data/sample_imgs/

tests/manual_test_data
docs/sphinx

dist/*
build/*
*.egg-info/*
.vscode/settings.json
